
.nav-link{
  font-weight: 500;
}

.navbar-brand{
  font-weight: 500;
}

.loader-container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #1abc9c;
  -ms-overflow-style: none;
}


.loader-container .loader h1{
  top: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  color: white;
  left: 50%;
  font-size: 100px;
  font-weight: 900;
}

.btn0{
  color: #149279;
  font-weight: 500;
  border-color: #149279;
}
.btn0:hover,.btn0:focus{
  background-color: #1abc9c;
  color: white;
}

::placeholder{
  color: white;
  opacity: 1;
}
::-ms-input-placeholder{
  color: white;
}