/* --- Navbar Section --- */

.nav-link {
  font-weight: 500;
}
.navbar-brand {
  font-weight: 500;
}
.btn0 {
  color: #149279;
  font-weight: 500;
  border-color: #149279;
}
.btn0:hover,
.btn0:focus {
  background-color: #1abc9c;
  color: white;
}

/* --- Preloader Section --- */
.loader-container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #1abc9c;
  -ms-overflow-style: none;
}
.loader-container .loader h1 {
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: white;
  left: 50%;
  font-size: 100px;
  font-weight: 900;
}

/* --- Global Placeholder Section --- */

::placeholder {
  color: white;
  opacity: 1;
}
::-ms-input-placeholder {
  color: white;
}

/* --- Scrollbar Section --- */

::-webkit-scrollbar {
  width: 10px; /* for vertical scrollbars */
  height: 10px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 8px rgb(90, 189, 169);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(18, 160, 132, 0.5);
}

/* --- About Us Section --- */

.aboutus {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #616161;
}
.aboutus h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}
.aboutus h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}
.aboutus .container-fluid {
  padding: 60px 50px;
}
.aboutus .bg-grey {
  background-color: #f6f6f6;
}
.aboutus .logo-small {
  font-size: 50px;
}
.aboutus .logo {
  height: 400px;
}
.aboutus .thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.aboutus .thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
.aboutus .item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}
.aboutus .item span {
  font-style: normal;
}
.aboutus .slideanim {
  visibility: hidden;
}
.aboutus .slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .aboutus .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .aboutus .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
  .aboutus .logo {
    margin-top: 100px;
    height: 200px;
  }
}
@media screen and (max-width: 480px) {
  .aboutus .logo {
    margin: -5px 0px;
    height: 120px;
  }
}

/* Home Section */

@media screen and (min-width: 768px) {
  /* For Laptops */
  .carousel {
    height: 650px;
  }
  .carousel-inner > .carousel-item > img {
    height: 650px;
    object-fit: fill;
  }
}
@media screen and (min-width: 992px) {
  /* For Large Laptops */
  .carousel {
    height: 650px;
  }
  .carousel-inner > .carousel-item > img {
    height: 650px;
    object-fit: fill;
  }
}

/* product page */
.banners {
  background: linear-gradient(rgba(248, 248, 238, 0.7), rgba(0, 0, 0, 0.7)),
    url("./img/banner.jpg") center/cover no-repeat;
}

.card-title {
  text-transform: uppercase;
}
