@import url("https://fonts.googleapis.com/css?family=Raleway:200");
/* --- Global Section --- */
.slideanim1 {
  animation: 4s ease-out 0s 1 slidet;
  -webkit-animation: 4s ease-out 0s 1 slidet;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}
@keyframes slidet {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slidet {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* --- Navbar Section --- */

.nav-link {
  font-weight: 500;
}
.navbar-brand {
  font-weight: 500;
}
.navlogsign .signup {
  background-color: #149279;
  border-color: #149279;
}
.navlogsign .signup:hover {
  background-color: #12806a;
}
.navlogsign .login {
  color: #149279;
  border-color: #149279;
}
.navlogsign .login:hover,
.navlogsign .login:focus {
  background-color: #149279;
  color: white;
}

/* --- Preloader Section --- */
.loader-container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #1abc9c;
  -ms-overflow-style: none;
}
.loader-container .loader h1 {
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: white;
  left: 50%;
  font-size: 100px;
  font-weight: 900;
}

/* --- Global Placeholder Section --- */

.form1 ::placeholder {
  color: white;
  opacity: 1;
}
.form1 ::-ms-placeholder {
  color: white;
}
.form1 ::-webkit-input-placeholder {
  color: white;
}
.form1 ::-moz-placeholder {
  color: white;
}

/* --- Scrollbar Section --- */

::-webkit-scrollbar {
  width: 10px; /* for vertical scrollbars */
  height: 10px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 8px rgb(90, 189, 169);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(18, 160, 132, 0.5);
}

/* --- About Us Section --- */

.aboutus {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #616161;
}
.aboutus h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}
.aboutus h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}
.aboutus .container-fluid {
  padding: 60px 50px;
}
.aboutus .btn-info {
  color: white;
  font-weight: 500;
  background-color: #149279;
}
.aboutus .btn-info:hover {
  color: white;
  background-color: #17a78a;
}
.aboutus .bg-grey {
  background-color: rgb(250, 250, 250);
}
.aboutus .logo-small {
  font-size: 50px;
  margin: 20px 0px;
  color: #149279;
}
.aboutus .logo {
  margin-top: 60px;
  margin-left: 50px;
  height: 300px;
}
.aboutus .thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.aboutus .thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
.aboutus .item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}
.aboutus .item span {
  font-style: normal;
}
.aboutus .slideanim {
  visibility: hidden;
}
.aboutus .slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
.fa-globe1 {
  margin-top: 50px;
  font-size: 250px;
  margin-left: 50px;
  color: #149279;
}
@media screen and (max-width: 768px) {
  .aboutus .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .fa-globe1 {
    margin-top: 150px;
    font-size: 10em;
    margin-left: -25px;
  }
  .aboutus .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
  .aboutus .logo {
    margin-top: 100px;
    height: 200px;
  }
}
@media screen and (max-width: 480px) {
  .aboutus .logo {
    margin: -5px 0px;
    height: 120px;
  }
  .fa-globe1 {
    margin-top: -40px;
    margin-bottom: 20px;
  }
}

/* --- Home Section --- */

@media screen and (min-width: 768px) {
  .carousel-main {
    height: 650px;
  }
  .carousel-image {
    height: 650px;
    object-fit: fill;
  }
}
@media screen and (min-width: 992px) {
  .carousel > .carousel-item > .carousel-image {
    height: 650px;
  }
  .carousel > .carousel-item > .carousel-image {
    height: 650px;
    object-fit: fill;
  }
}
@media screen and (min-width: 768px) {
  .carousel > .carousel-item > .carousel-image {
    height: 650px;
  }
  .carousel > .carousel-item > .carousel-image {
    height: 650px;
    object-fit: fill;
  }
}

/* --- Login Section --- */

.btnlog {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  background-color: #149279;
  border-color: #149279;
}
.iconic {
  background-color: #149279;
}
.iconic:hover,
.iconic:focus {
  background-color: #12806a;
}
.btnlog:hover,
.btnlog:focus {
  background-color: #12806a;
  border-color: #149279;
}
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 2px;
  background: rgb(201, 201, 201);
}
.simpletext {
  font-size: 30px;
}
.h-custom {
  height: calc(100% - 30px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

/* --- Sign-up Section --- */

input[type="submit"]:disabled {
  background-color: #149279;
  border-color: #149279;
}
.mt {
  margin: 5rem 0px;
}
.digit-group input {
  width: 60px;
  height: 60px;
  background-color: lighten(white, 5%);
  border: none;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: black;
  margin: 0 2px;
  border-radius: 18px;
  border: 3px solid #293886;
}
.prompt {
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
}
.digit-group ::-webkit-input-placeholder {
  /* Edge */
  font-weight: 800;
  color: #9c9a9a;
}
.digit-group ::-ms-input-placeholder {
  /* Internet Explorer */
  font-weight: 800;
  color: #9c9a9a;
}
.digit-group ::placeholder {
  font-weight: 900;
  color: #9c9a9a;
}
.digit-group ::-moz-placeholder {
  font-weight: 900;
  color: #9c9a9a;
}

/* --- Products Section --- */

.card-title {
  text-transform: uppercase;
}
.wrench {
  position: absolute;
  right: 0%;
  bottom: -30%;
  font-size: 500px;
  color: #333;
}
.screwdriver {
  position: absolute;
  top: -25%;
  right: auto;
  left: 0%;
  transform: rotate(180deg);
  font-size: 500px;
  color: #e5e5e5;
}
@media screen and (max-width: 768px) {
  .wrench {
    right: 0%;
    bottom: -15%;
    font-size: 20px;
  }
  .screwdriver {
    top: -25%;
    right: auto;
    left: 2%;
    font-size: 50px;
  }
}
@media screen and (max-width: 992px) {
  .wrench {
    right: 0%;
    bottom: -15%;
    font-size: 150px;
  }
  .screwdriver {
    top: -25%;
    right: auto;
    left: 2%;
    font-size: 200px;
  }
}
@media screen and (max-width: 425px) {
  .wrench {
    right: 5%;
    bottom: -20%;
    font-size: 150px;
  }
  .screwdriver {
    top: -37%;
    font-size: 200px;
  }
}

.prodimg {
  width: 200px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}
.aboutusjumbo {
  background: linear-gradient(rgba(248, 248, 238, 0.7), rgba(0, 0, 0, 0.7)),
    url("./img/banner2.jpg") center/cover no-repeat;
  z-index: 1;
  border: none;
  width: 90%;
  height: 500px;
}
.aboutuswid {
  margin: auto;
  width: 90%;
}
.homeaboutbtn {
  border: 1px solid;
  background-color: #17a78a;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.homeaboutbtn:hover {
  border: 1px solid;
  background-color: white;
  padding: 10px 20px;
  color: #1abc9c;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.container {
  margin-top: 80px;
  margin-bottom: 80px;
  position: relative;
  z-index: 100;
}
.container .row .card {
  width: 300px;
  height: 300px;
  margin: 30px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  backdrop-filter: blur(5px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  cursor: pointer;
}
.container .row .card .card-body {
  padding: 1rem 1.2rem;
  color: black;
}
.container .row .card .card-body .card-img img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  transform: translateY(50px);
  transition: 0.5s;
  border-radius: 50%;
}
.container .row .card .card-body .name {
  transform: translateY(50px);
  transition: 0.5s;
}
.container .row .card .card-body .testimonial {
  font-size: 0.9rem;
  pointer-events: none;
  transform: translateY(10px);
  transition: 0.5s;
  opacity: 0;
}
.container .row .card:hover .card-body .testimonial,
.container .row .card:hover .card-body .name,
.container .row .card:hover .card-body .card-img img {
  transform: translateY(0px);
  opacity: 1;
}
@media (max-width: 991.5px) {
  body::after {
    clip-path: circle(40% at 10% 50%);
  }
  body::before {
    clip-path: circle(50% at right -10%);
  }
}

.btn0 {
  color: #149279;
  font-weight: 500;
  border-color: #149279;
}
.btn0:hover,
.btn0:focus {
  background-color: #1abc9c;
  color: white;
}
